In [9]:
import tabula
df = tabula.read_pdf('Words_Bee.pdf', pages = 5)
df

[        gradual       bedlam     gargantuan     gimmick     monopolize  \
 0     ferocious    shortfall          salsa     flannel          water
 1    frequently      cowlick        chaotic    cucumber       marathon
 2    permission  opinionated         shrimp   McMansion       omission
 3         towel       slogan        mandate     janitor         newbie
 4        sundae   triumphant         turret     lionize    spreadsheet
 5      ornament  parenthetic         pigeon   headdress         badger
 6       rooster     listener      satellite   ludicrous  fortification
 7         scold     guardian       parasite        pear          hydra
 8       organza     dwindled       favorite      system         grouse
 9       fragile      fraught  OR *favourite    pedigree          manta
 10       galaxy       sturdy        cascade       empty       astonish
 11    complaint    treadmill      dandelion      amulet    fashionista
 12      curries    originate         famous       guess        stubble
 13       tennis      forfend       pristine    magician         genius
 14    grumbling  OR forefend         golden      carrot         nuance
 15       garlic    eavesdrop        modesty      meteor        stencil
 16         hula      January      amphibian  distraught        penguin
 17  reactionary      scruple       jealousy     freight        freckle
 18     muscular        moxie       remedial    honeybee        blooper
 19      drizzle       winnow          vouch     blemish  misconception
 20     accurate    incentive         trivia     crumpet        lambkin
 21       studio      admirer       shoulder    blizzard        chowder
 22  illusionist    emotional          zebra      squirm      sunflower
 23      genetic         chia   butterscotch  harmonious      lambasted
 24       levity    raspberry          apron      lawyer     volumetric
 25     moisture        bogus         beagle     valiant       flattery
 26    toughness       recoup         kidney       purse         simmer
 27    tasteless     bookworm        wistful      raisin          whisk
 28       astute      veteran          raven     trumpet        bathtub
 29       turtle        erase       fructose        bias  fantastically
 30    Pinkerton    handcuffs         Amazon     lettuce        failure
 31      fortune       spinal      companion    shamrock      tolerable
 32     sluggard   demolition       panorama   Americana       mosquito

          target
 0        angora
 1       snippet
 2       ascribe
 3    hodgepodge
 4      verbiage
 5        nephew
 6        imbibe
 7         savvy
 8        reckon
 9       boorish
 10       tarmac
 11    iteration
 12      nurture
 13      volcano
 14    forensics
 15   miraculous
 16       trendy
 17   permafrost
 18      iceberg
 19       cactus
 20  nationalism
 21       leeway
 22     pilferer
 23   rollicking
 24        quart
 25      lactose
 26  domineering
 27        onion
 28      abandon
 29        vault
 30       junior
 31       hamlet
 32     jubilant  ]

In [23]:

tabula.convert_into("Words_Bee.pdf", "Words_test.csv", pages="4-8",output_format="csv")

TypeError: build_options() got an unexpected keyword argument 'multiple_tables'

In [47]:

df_hdr=tabula.read_pdf("Words_Bee.pdf", pages=4,area=(20,10,120,400))

In [48]:
df_hdr

[          DIFFICULTY LEVEL: ONE B
 0  School Spelling Bee Study List]

In [55]:
df_hdr=tabula.read_pdf("Words_Bee.pdf", pages=4,area=(20,10,70,420))
df_hdr

[Empty DataFrame
 Columns: [DIFFICULTY LEVEL: ONE BEE]
 Index: []]

In [57]:
df_hdr[0]

Empty DataFrame
Columns: [DIFFICULTY LEVEL: ONE BEE]
Index: []

In [97]:
df_hdr=tabula.read_pdf("Words_Bee.pdf", pages=4,area=(30,331,70,420))
df_hdr

[Empty DataFrame
 Columns: [: ONE BEE]
 Index: []]

In [94]:
df_hdr[0]

Empty DataFrame
Columns: [: ONE BEE]
Index: []

In [95]:
x=str(df_hdr[0]) 
type(x)
#y=x.split()
#y

str

In [96]:
Bee =x.split()
Bee

['Empty', 'DataFrame', 'Columns:', '[:', 'ONE', 'BEE]', 'Index:', '[]']

In [102]:

df_new=tabula.read_pdf("Words_Bee.pdf", pages=27,area=(30,331,70,420))
x=str(df_new[0])
num_lst =['ONE','TWO', 'THREE']
for i in num_lst:
    if i in x:
        print(i)
        column_val = i
        break
print(column_val)

THREE
THREE

In [118]:
for pg in range(3,5):
    print(pg)
    df_new=tabula.read_pdf("Words_Bee.pdf", pages=pg,area=(30,331,70,420))
    x=str(df_new)
    print(x)
    def Lvl_chk(x):
        num_lst =['ONE','TWO', 'THREE']
        column_val=''
    
        for i in num_lst:
            print('outside loop:',i)
            if i in x:
                print('xval',i)
                column_val = i
                return column_val
        return None
    
    column_val =Lvl_chk(x)
    if column_val:
        print('Page read')
        df_data=tabula.read_pdf("Words_Bee.pdf",pages=pg)
        print(df_data)

3
[]
outside loop: ONE
outside loop: TWO
outside loop: THREE
4
[Empty DataFrame
Columns: [: ONE BEE]
Index: []]
outside loop: ONE
xval ONE
Page read
[       gel      day    scorch       hear      sizzle    jotted
0    train    upset     motor     sprint   hatchling   swirled
1    sport   father   talking        awe        razz    amount
2     rich      jam     money       afar    followed    sighed
3      eel     mugs     couch       bowl      purple     sheen
4     fans     fair    nibble      sweat      entire     worse
5     dome   dinner   strands       cost    December  sandwich
6     tall     rats   chapter      sleek      sudden       duo
7   better      fed     chess     bottle     slither  gleaming
8      hit      sir     slimy      smart      combed   repress
9   peanut     boom    squeak     stared      patrol   clothes
10    cake     wave    friend    plopped        epic    either
11    bite    trunk    laptop     darted       vital      rely
12    noon   sleepy     movie      angry      window     chose
13   gummy     full     known   sidekick      pocket     belle
14   sting     huge    suffer      stuff     project      else
15     ray     born    double      least       goofy   picture
16    dusk  jumping     watch     little    remember   prepare
17    mops     damp      ahoy       felt      travel   percent
18  thanks     from     dream     summer      cranky    afraid
19    dash    hunch     whine  carefully      career    rescue
20    skin     each     beans      would     disease       NaN
21    star    shade     child   shambles      trophy       NaN
22   began     ribs     space  taillight     theater       NaN
23    grew  forever  princess    quicken  OR theatre       NaN
24    fine   freeze     piper   presence     athlete       NaN]

In [121]:

Inp = {column_val : df_data}

In [135]:
import numpy as np
sample =np.array(df_data[0])


new_list= np.concatenate( sample, axis=0 )
new_list

array(['train', 'upset', 'motor', 'sprint', 'hatchling', 'swirled',
       'sport', 'father', 'talking', 'awe', 'razz', 'amount', 'rich',
       'jam', 'money', 'afar', 'followed', 'sighed', 'eel', 'mugs',
       'couch', 'bowl', 'purple', 'sheen', 'fans', 'fair', 'nibble',
       'sweat', 'entire', 'worse', 'dome', 'dinner', 'strands', 'cost',
       'December', 'sandwich', 'tall', 'rats', 'chapter', 'sleek',
       'sudden', 'duo', 'better', 'fed', 'chess', 'bottle', 'slither',
       'gleaming', 'hit', 'sir', 'slimy', 'smart', 'combed', 'repress',
       'peanut', 'boom', 'squeak', 'stared', 'patrol', 'clothes', 'cake',
       'wave', 'friend', 'plopped', 'epic', 'either', 'bite', 'trunk',
       'laptop', 'darted', 'vital', 'rely', 'noon', 'sleepy', 'movie',
       'angry', 'window', 'chose', 'gummy', 'full', 'known', 'sidekick',
       'pocket', 'belle', 'sting', 'huge', 'suffer', 'stuff', 'project',
       'else', 'ray', 'born', 'double', 'least', 'goofy', 'picture',
       'dusk', 'jumping', 'watch', 'little', 'remember', 'prepare',
       'mops', 'damp', 'ahoy', 'felt', 'travel', 'percent', 'thanks',
       'from', 'dream', 'summer', 'cranky', 'afraid', 'dash', 'hunch',
       'whine', 'carefully', 'career', 'rescue', 'skin', 'each', 'beans',
       'would', 'disease', nan, 'star', 'shade', 'child', 'shambles',
       'trophy', nan, 'began', 'ribs', 'space', 'taillight', 'theater',
       nan, 'grew', 'forever', 'princess', 'quicken', 'OR theatre', nan,
       'fine', 'freeze', 'piper', 'presence', 'athlete', nan],
      dtype=object)

In [137]:
df_sample = pd.DataFrame(new_list,columns=[column_val])

In [138]:
df_sample

           ONE
0        train
1        upset
2        motor
3       sprint
4    hatchling
..         ...
145     freeze
146      piper
147   presence
148    athlete
149        NaN

[150 rows x 1 columns]

In [144]:
df_data=tabula.read_pdf("Words_Bee.pdf",pages=4)
df_data[0]

AttributeError: 'list' object has no attribute 'shape'

In [145]:
df_data[0]

       gel      day    scorch       hear      sizzle    jotted
0    train    upset     motor     sprint   hatchling   swirled
1    sport   father   talking        awe        razz    amount
2     rich      jam     money       afar    followed    sighed
3      eel     mugs     couch       bowl      purple     sheen
4     fans     fair    nibble      sweat      entire     worse
5     dome   dinner   strands       cost    December  sandwich
6     tall     rats   chapter      sleek      sudden       duo
7   better      fed     chess     bottle     slither  gleaming
8      hit      sir     slimy      smart      combed   repress
9   peanut     boom    squeak     stared      patrol   clothes
10    cake     wave    friend    plopped        epic    either
11    bite    trunk    laptop     darted       vital      rely
12    noon   sleepy     movie      angry      window     chose
13   gummy     full     known   sidekick      pocket     belle
14   sting     huge    suffer      stuff     project      else
15     ray     born    double      least       goofy   picture
16    dusk  jumping     watch     little    remember   prepare
17    mops     damp      ahoy       felt      travel   percent
18  thanks     from     dream     summer      cranky    afraid
19    dash    hunch     whine  carefully      career    rescue
20    skin     each     beans      would     disease       NaN
21    star    shade     child   shambles      trophy       NaN
22   began     ribs     space  taillight     theater       NaN
23    grew  forever  princess    quicken  OR theatre       NaN
24    fine   freeze     piper   presence     athlete       NaN

In [151]:
[*df_data]

[       gel      day    scorch       hear      sizzle    jotted
 0    train    upset     motor     sprint   hatchling   swirled
 1    sport   father   talking        awe        razz    amount
 2     rich      jam     money       afar    followed    sighed
 3      eel     mugs     couch       bowl      purple     sheen
 4     fans     fair    nibble      sweat      entire     worse
 5     dome   dinner   strands       cost    December  sandwich
 6     tall     rats   chapter      sleek      sudden       duo
 7   better      fed     chess     bottle     slither  gleaming
 8      hit      sir     slimy      smart      combed   repress
 9   peanut     boom    squeak     stared      patrol   clothes
 10    cake     wave    friend    plopped        epic    either
 11    bite    trunk    laptop     darted       vital      rely
 12    noon   sleepy     movie      angry      window     chose
 13   gummy     full     known   sidekick      pocket     belle
 14   sting     huge    suffer      stuff     project      else
 15     ray     born    double      least       goofy   picture
 16    dusk  jumping     watch     little    remember   prepare
 17    mops     damp      ahoy       felt      travel   percent
 18  thanks     from     dream     summer      cranky    afraid
 19    dash    hunch     whine  carefully      career    rescue
 20    skin     each     beans      would     disease       NaN
 21    star    shade     child   shambles      trophy       NaN
 22   began     ribs     space  taillight     theater       NaN
 23    grew  forever  princess    quicken  OR theatre       NaN
 24    fine   freeze     piper   presence     athlete       NaN]

In [175]:
sample_list=[]
for item in df_data:
    sample_list= ','.join(item)
   

hdr_lst=sample_list.split(',')
hdr_lst

['gel', 'day', 'scorch', 'hear', 'sizzle', 'jotted']

In [176]:
arr1=np.array(hdr_lst)
sample =np.array(df_data[0])


new_list= np.concatenate( sample, axis=0 )
merged=np.append(arr1,sample)
merged

array(['gel', 'day', 'scorch', 'hear', 'sizzle', 'jotted', 'train',
       'upset', 'motor', 'sprint', 'hatchling', 'swirled', 'sport',
       'father', 'talking', 'awe', 'razz', 'amount', 'rich', 'jam',
       'money', 'afar', 'followed', 'sighed', 'eel', 'mugs', 'couch',
       'bowl', 'purple', 'sheen', 'fans', 'fair', 'nibble', 'sweat',
       'entire', 'worse', 'dome', 'dinner', 'strands', 'cost', 'December',
       'sandwich', 'tall', 'rats', 'chapter', 'sleek', 'sudden', 'duo',
       'better', 'fed', 'chess', 'bottle', 'slither', 'gleaming', 'hit',
       'sir', 'slimy', 'smart', 'combed', 'repress', 'peanut', 'boom',
       'squeak', 'stared', 'patrol', 'clothes', 'cake', 'wave', 'friend',
       'plopped', 'epic', 'either', 'bite', 'trunk', 'laptop', 'darted',
       'vital', 'rely', 'noon', 'sleepy', 'movie', 'angry', 'window',
       'chose', 'gummy', 'full', 'known', 'sidekick', 'pocket', 'belle',
       'sting', 'huge', 'suffer', 'stuff', 'project', 'else', 'ray',
       'born', 'double', 'least', 'goofy', 'picture', 'dusk', 'jumping',
       'watch', 'little', 'remember', 'prepare', 'mops', 'damp', 'ahoy',
       'felt', 'travel', 'percent', 'thanks', 'from', 'dream', 'summer',
       'cranky', 'afraid', 'dash', 'hunch', 'whine', 'carefully',
       'career', 'rescue', 'skin', 'each', 'beans', 'would', 'disease',
       nan, 'star', 'shade', 'child', 'shambles', 'trophy', nan, 'began',
       'ribs', 'space', 'taillight', 'theater', nan, 'grew', 'forever',
       'princess', 'quicken', 'OR theatre', nan, 'fine', 'freeze',
       'piper', 'presence', 'athlete', nan], dtype=object)